@media only screen and (min-width: 991px) {
    body{
        margin: 0 auto;
    }

    .container{
        max-width: 1040px;
        border: none;
        /* max-width: 80%; */
    }
    
    /* HEADER */
    header .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }
    .nav ul{
        display: flex;
        flex-direction: row;
    }
    .nav li{
        margin: 0 .4rem;
    }
    .nav a{
        color: var(--color-dark-grey);
        text-decoration: none;
    }
    .nav a:hover{
        color: var(--color-light);
    }
    .logo__title{
        display: none;
    }
    /* R SOCIALES */
    .redes-sociales{
        position: fixed;
        top: 35%;
        left: 0;
        width: 90px;
    }
    .redes-sociales .container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .redes-sociales img{
        padding: 8px 0;
        width: 50%;
    }
}