:root{
    font-size: 16px;
    /* header title = 2.81rem */
    --size-main-title: 2.81rem;
    /* tabs titles forms  2.31rem / 1.81rem */
    --size-ttf-b: 2.31rem;
    --size-ttf-s: 1.81rem;
    /* btn tabs titles forms = 1.69rem / 1.63rem */
    --size-bttf-b: 1.69rem;
    --size-bttf-s: 1.63rem;
    /* info paragraphs = 1.19rem */
    --size-paragraphs: 1.19rem;
    /* description = 0.75rem */
    --size-description: .75rem;

    /* variables */
    /* font */
    --font-family: 'Roboto', sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 500;

    /* colors */
    --color-normal: #0020ba;
    --color-light: #5c4bee;
    --color-dark: #000088;
    --color-light-grey: #eee;
    --color-dark-grey: #333;

    /* device width */
    /*
        desktop: min 1024px;
        tablet: min 768px; 
        mobile: min 360px;
    */
    scroll-behavior: smooth;
    line-height: 1.1rem;
}

body{
    font-family: var(--font-family);
    font-size: var(--size-paragraphs);
    font-weight: var(--font-weight-normal);
    overflow-x: hidden;
}

.container{
    border-bottom: .1rem solid var(--color-normal);
    max-width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 1rem 0;
}

img{
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
main img{
    aspect-ratio: 2/2;
}

/* HEADER */

.logo{
    margin: 1.5rem 0;
}
h1{
    font-size: var(--size-ttf-s);
    font-weight: var(--font-weight-bold);
}

.title-h2{
    font-size: var(--size-bttf-b);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}


/* MAIN */

.main{
    background-color: var(--color-light-grey);
}
.main .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 3rem 14rem;
    align-items: center;
}
.main__title{
    font-size: var(--size-main-title);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
}
.main__sub-title{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    font-size: var(--size-bttf-b);
}
.main__description{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-weight: var(--size-paragraphs);
}

.main img{
    border-radius: 50%;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    justify-self: center;
    width: 60%;
}

/* SKILLS */

.skills__title{
    text-align: center;
}

.skills__content{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.skills__card {
    margin: 1rem auto;
    padding: 0.3rem;
    border: 0.2rem solid var(--color-light);
    border-radius: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8.5rem;
}
.skills__card img{
    width: 75%;
    margin-bottom: 1rem;
}
.skills__card figcaption{
    display: inline-block;
    font-size: var(--size-paragraphs);
    font-weight: var(--font-weight-bold);
}

/* FORMACION */

.formacion{
    background-color: var(--color-light-grey);
}
.formacion__title{
    text-align: center;
    padding-top: 1rem;
}

.formacion .container{
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

.formacion__card{
    max-width: 350px;
    padding: 1rem 0;
    text-align: center;
}
.formacion__card-title{
    font-size: var(--size-bttf-s);
    font-weight: var(--font-weight-normal);
}

.formacion__card figure{
    padding: 1rem 0;
}
.formacion__card img{
    max-width: 300px;
    padding-bottom: 1rem;
    width: 50%;
}

.formacion__card figcaption,
.formacion__card-description{
    text-align: left;
    font-size: var(--size-paragraphs);
    font-weight: var(--font-weight-light);
    max-width: 80%;
    margin: 0 auto;
}

/* PROYECTOS */

.proyectos{
    text-align: center;
}
.proyectos .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.proyecto{
    padding-bottom: 1rem;
    max-width: 300px;
}
.proyectos__title{
    padding: 1rem 0;
}
.proyecto__title{
    font-size: var(--size-bttf-s);
    font-weight: var(--font-weight-normal);
}
.proyecto img{
    width: 80%;
}

.proyecto__description{
    font-size: var(--size-paragraphs);
    font-weight: var(--font-weight-normal);
    text-align: left;
    padding: .5rem 0;
    margin-bottom: 1rem;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
}
.btn-a{
    border: .1rem solid var(--color-light);
    border-radius: 1rem;
    box-shadow: .1rem .1rem .1rem var(--color-normal);
    color: var(--color-dark);
    font-size: var(--size-paragraphs);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    padding: .2rem .3rem;
}

/* https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c */
.btn-a:hover{
    border-color: var(--color-normal);
    color: var(--color-light);
    box-shadow: .3rem .3rem .4rem var(--color-dark);
}

/* CONTACTO */

.contacto{
    background-color: var(--color-light-grey);
    text-align: center;
}
.contacto .container{
    display: flex;
    justify-content: center;
}
.contacto__title{
    padding-top: 1rem;
}

.contacto__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--size-bttf-s);
    font-weight: var(--font-weight-light);
    text-align: left;
}
.contacto__content,
.contacto__form{
    width: 45%;
    margin: 1rem .5rem;
}
.contacto__sub-title{
    font-size: var(--size-ttf-s);
    margin-bottom: 1rem;
}
.contacto__text{
    font-size: var(--size-bttf-s);
}

.contacto__link,
.contacto__btn-cv a{
    text-decoration: none;
    color: var(--color-dark);
}

.contacto__btn-cv{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.contacto__form{
    text-align: center;
}
.contacto__form fieldset{
    border-style: groove;
    border-width: 0.1rem;
    border-radius: 1rem;
    border-color: var(--color-light);
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
}

.contacto__form input{
    border: solid .15rem var(--color-dark);
    border-radius: 0.3rem;
    font-size: var(--size-bttf-s);
    margin: 0.5rem;
    padding: 0.4rem;
    width: 70%;
}

.contacto__form textarea{
    width: 70%;
    border: solid .15rem var(--color-dark);
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    font-size: var(--size-bttf-s);
}

/* R SOCIALES */

.redes-sociales{
    text-align: center;
}
.redes-sociales img{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    margin-right: .5rem;
    width: 15%;
}

/* FOOTER */

footer{
    font-weight: var(--font-weight-bold);
    margin: 1rem 0;
    text-align: center;
}