:root{
    font-size: 16px;
    /* header title = 2.81rem */
    --size-main-title: 2.81rem;
    /* tabs titles forms  2.31rem / 1.81rem */
    --size-ttf-b: 2.31rem;
    --size-ttf-s: 1.81rem;
    /* btn tabs titles forms = 1.69rem / 1.63rem */
    --size-bttf-b: 1.69rem;
    --size-bttf-s: 1.63rem;
    /* info paragraphs = 1.19rem */
    --size-paragraphs: 1.19rem;
    /* description = 0.75rem */
    --size-description: .75rem;

    /* variables */
    /* font */
    --font-family: 'Roboto', sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 500;

    /* colors */
    --color-normal: #0020ba;
    --color-light: #5c4bee;
    --color-dark: #000088;
    --color-light-grey: #eee;
    --color-dark-grey: #333;

    /* device width */
    /*
        desktop: min 1024px;
        tablet: min 768px; 
        mobile: min 360px;
     */
}

body{
    font-family: var(--font-family);
    font-size: var(--size-paragraphs);
    font-weight: var(--font-weight-normal);
    overflow-x: hidden;
}

.container{
    border-bottom: 1px solid var(--color-normal);
    max-width: calc(100% - 32px);
    margin: 0 auto;
    padding: 16px 0;
}

/* HEADER */

.logo{
    margin: 25px 0 25px 0;
}
h1{
    font-size: var(--size-ttf-s);
    font-weight: var(--font-weight-bold);
}

.title-h2{
    font-size: var(--size-bttf-b);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}


/* MAIN */

.main{
    background-color: var(--color-light-grey);
}
.main .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr  var(--size-ttf-s) 1fr;
    align-items: center;
}
.main__title{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
}
.main__sub-title{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    margin-bottom: 16px;
    font-size: var(--size-bttf-s);
}
.main__description{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    font-weight: var(--font-weight-light);
}

.main img{
    border-radius: 50%;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    margin-bottom: 16px;
    width: 80%;
}

/* SKILLS */

.skills__title{
    text-align: center;
}

.skills__content{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.skills__card{
    margin: 16px auto;
    padding: 5px;
    border: 1px solid var(--color-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 140px;
}
.skills__card img{
    width: 75%;
    margin-bottom: 5px;
}
.skills__card figcaption{
    display: inline-block;
    font-size: var(--size-paragraphs);
    font-weight: var(--font-weight-bold);
}

/* FORMACION */

.formacion{
    background-color: var(--color-light-grey);
}
.formacion__title{
    text-align: center;
    padding-top: 16px;
}
.formacion__card{
    max-width: 350px;
    padding: 16px 0;
    text-align: center;
}
.formacion__card-title{
    font-size: var(--size-bttf-s);
    font-weight: var(--font-weight-normal);
}

.formacion__card figure{
    padding: 8px 0;
}
.formacion__card img{
    width: 50%;
}

.formacion__card figcaption,
.formacion__card-description{
    font-size: var(--size-paragraphs);
    font-weight: var(--font-weight-light);
    max-width: 80%;
    margin: 0 auto;
}

/* PROYECTOS */

.proyectos{
    text-align: center;
}

.proyecto{
    padding: 16px 0;
}
.proyectos__title{
    padding: 16px 0;
}
.proyecto__title{
    font-size: var(--size-bttf-s);
    font-weight: var(--font-weight-normal);
}
.proyecto img{
    width: 80%;
}

.proyecto__description{
    font-size: var(--size-paragraphs);
    font-weight: var(--font-weight-normal);
    text-align: left;
    padding: 8px 0;
    margin-bottom: 16px;
}

.btn-a{
    border: 1px solid var(--color-light);
    border-radius: 16px;
    box-shadow: 2px 2px 2px var(--color-normal);
    color: var(--color-dark);
    font-size: var(--size-bttf-s);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    padding: 4px 8px;
}

/* https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c */
.btn-a:hover{
    border-color: var(--color-normal);
    color: var(--color-light);
    box-shadow: 4px 4px 5px var(--color-dark);
}

/* CONTACTO */

.contacto{
    background-color: var(--color-light-grey);
    text-align: center;
}

.contacto__title{
    padding-top: 16px;
}

.contacto__content{
    font-size: var(--size-bttf-s);
    font-weight: var(--font-weight-light);
    padding: 8px 0;
    text-align: left;
}
.contacto__link{
    text-decoration: none;
    color: var(--color-dark);
}

.contacto__form{
    text-align: center;
}
.contacto__form fieldset{
    border-style: groove;
    border-width: 2px;
    border-radius: 16px;
    border-color: var(--color-light);
    margin-bottom: 16px;
}

.contacto__form input{
    border-color: var(--color-dark);
    border-radius: 16px;
    font-size: var(--size-bttf-s);
    margin: 8px 0;
    padding: 8px;
    width: 70%;
}

.contacto__form input:focus,
.contacto__form textarea:focus{
    border-color: var(--color-light);
    border-bottom: 3px solid;
}
.contacto__form textarea{
    border-color: var(--color-dark);
    border-radius: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 8px;
    font-size: var(--size-bttf-s);
}

/* R SOCIALES */

.redes-sociales{
    text-align: center;
}
.redes-sociales img{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    margin-right: 8px;
    width: 15%;
}

/* FOOTER */

footer{
    font-weight: var(--font-weight-bold);
    margin: 16px 0;
    text-align: center;
}